<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= stylesheet_link_tag    "auth/application", :media => "all" %>
  <%= javascript_include_tag "auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div><%= link_to "Logg in with OpenID", root_url+"auth/open_id" %></div>
<%= yield %>

</body>
</html>
